* {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
      url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
      url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.text-super { font-size: 5rem; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

#booking {
  display: flex;
}

.aside {
  width: 25%;
  background: no-repeat center center/cover;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

section {
  padding: 3rem;
}

.button-area {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin: 0 auto;
}

.around {
  width: 80%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.around > p {
  width: 100%;
  text-align: center;
}

.around > .booking-now {
  width: 100%;
  height: 8vh;
  border-radius: 5px;
  color: #fff;
  background: #38470B;
  border: none;
  margin-bottom: 40px;
}

.around > .booking-now:hover {
  color: #38470B;
  background: rgb(136, 160, 63);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

#button {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.showcase-btn {
  border: 2px solid #fff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
  
.showcase-btn:hover {
  cursor: pointer;
}

.text-big {
  font-size: 2.3rem;
  margin-right: 20px;
}

.text-big ~ span {
  color: #38470B;
}

.bg-none {
  background: none;
}

.bg-full {
  background: #38470B;
}

.others {
  color: #38470B;
}

a {
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 10vh;
  color: #38470B;
  margin-bottom: 20px;
}

.header > h1 {
  margin-top: 20px;
  font-size: 1.6rem;
}

#bookingInfo {
  line-height: 2.1rem;
}

#describes {
  list-style: none;
  line-height: 1.8rem;
}

h2 {
  color: #38470B;
}

#setting {
  width: 100%;
  display: flex;
  color: #38470B;
  justify-content: space-around;
}

.mb-10 {
  margin-bottom: 10px;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.roomIn {
  display: flex;
  width: 100%;
  justify-content: space-between;
  color: #38470B;
}

.mr-20 {
    margin-right: 20px;
}

#description {
  flex: 1;
}

#bookingInfo {
  flex: 1;
}

.flex-1 {
  flex: 1;
}

.body-list ul{
  width: 100%;
}

.body-list ul li {
  width: 14%;
  height: 60px;
  list-style: none;
  display: block;
  box-sizing: border-box;
  float: left;
  text-align: center;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.invalid {
  color: #878585;
  text-decoration: line-through;
}

.display-none {
  display: none;
}

.pointer {
  cursor: pointer;
}

.p-5 {
  padding: 5px;
}

.mx-5 {
  margin-left: 5px;
  margin-right: 5px;
}

.space {
  width: 10px;
  height: 100%;
}

.text-center {
  text-align: center;
}

.align-item-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.flex-reverse {
  flex-direction: row-reverse;
}

.text-big {
  font-size: 1.4rem;
}

#nextHeader {
  height: 50px;
}

#thisHeader {
  height: 50px;
}

.mr-120 {
  margin-right: 120px;
}

#thisHeaderH2 {
  flex: 2;
  font-size: 1.5rem;
}

#nextHeaderH2 {
  flex: 2;
  font-size: 1.5rem;
}

#clearReserve {
  border-radius: 5px;
  width: 100px;
  height: 30px;
  border: none;
  background-color: rgba(56, 71, 11, 0.5);
  cursor: pointer;
  color: white;
}

#clearReserve:hover {
  color: #38470B;
  background-color: rgba(136, 160, 63, 0.5);
  transition: all 0.2s ease-in-out;
}

.prev {
  cursor: pointer;
}

.next {
  cursor: pointer;
}

.checkInChoose {
  color: #fff;
  background-color: #38470B;
}

.checkOutChoose {
  color: #fff;
  background-color: #a0b857;
}

.mb-20 {
  margin-bottom: 20px;
}

.align-item-end {
  align-items: flex-end;
}

#totalPrice {
  font-size: 3rem;
  margin-bottom: 10px;
}

#DaysReserved {
  font-size: 1.3rem;
}

#submitBtn {
  width: 100%;
  height: 8vh;
  margin-bottom: 10px;
  background-color: #949C7C;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

#submitBtn:hover {
  color: #fff;
  background-color: rgba(136, 160, 63, 0.5);
  transition: all 0.2s ease-in-out;
}

.close {
  font-size: 2.5rem;
  cursor: pointer;
}

.w-100 {
  width: 100%;
}

.flex-around {
  justify-content: space-around;
}

.p-20 {
  padding: 20px;
}

.text-super {
  font-size: 3rem;
}

.align-start {
  align-items: flex-start;
}